version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: grading_service_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - grading_network

  api:
    build: .
    container_name: api_container
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/grading_service_db
    depends_on:
      - db
    # sleep 10 seconds before starting the server to make sure the database is up
    entrypoint: sh -c "sleep 10 && uvicorn main:app --host 0.0.0.0 --port 8000"
    networks:
      - grading_network

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - api
    networks:
      - grading_network

volumes:
  postgres_data: {}

networks:
  grading_network:
    driver: bridge

